<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_name %><br />
    <%= f.text_field :category_name %>
  </div>
  <div class="field">
    <%= f.label :category_desc %><br />
    <%= f.text_field :category_desc %>
  </div>
  <div class="field">
    <%= f.label :supplier %><br />
	
    <% if @supplier.empty? %>
	<em> No Suppliers Listed </em>
	<% end %>
	<% if @supplier.size!=0 %>
	<%= f.select ( :supplier_id, @supplier ) %>
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
