<p id="notice"><%= notice %></p>

<p>
  <b>Category name:</b>
  <%= @category.category_name %>
</p>

<p>
  <b>Category desc:</b>
  <%= @category.category_desc %>
</p>

<p>
  <b>Supplier:</b>
  <%= @category.supplier.supplier_name %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
