<h1>Listing packed_units</h1>

<table>
  <tr>
    <th>Unit code</th>
    <th>Unit name</th>
    <th>No of units</th>
    <th>Unit wieght</th>
    <th>Total wieght</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @packed_units.each do |packed_unit| %>
  <tr>
    <td><%= packed_unit.unit_code %></td>
    <td><%= packed_unit.unit_name %></td>
    <td><%= packed_unit.no_of_units %></td>
    <td><%= packed_unit.unit_wieght %></td>
    <td><%= packed_unit.total_wieght %></td>

    <td><%= link_to 'Show', packed_unit %></td>
    <td><%= link_to 'Edit', edit_packed_unit_path(packed_unit) %></td>
    <td><%= link_to 'Destroy', packed_unit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Packed unit', new_packed_unit_path %>
