<p id="notice"><%= notice %></p>

<p>
  <b>Unit code:</b>
  <%= @packed_unit.unit_code %>
</p>

<p>
  <b>Unit name:</b>
  <%= @packed_unit.unit_name %>
</p>

<p>
  <b>No of units:</b>
  <%= @packed_unit.no_of_units %>
</p>

<p>
  <b>Unit wieght:</b>
  <%= @packed_unit.unit_wieght %>
</p>

<p>
  <b>Total wieght:</b>
  <%= @packed_unit.total_wieght %>
</p>



<%= link_to 'Edit', edit_packed_unit_path(@packed_unit) %> |
<%= link_to 'Back', packed_units_path %>
