<%= form_for(@tax_master) do |f| %>
  <% if @tax_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tax_master.errors.count, "error") %> prohibited this tax_master from being saved:</h2>

      <ul>
      <% @tax_master.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tax_type %><br />
    <%= f.text_field :tax_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :percent %><br />
    <%= f.text_field :percent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
