<h1>Listing tax_masters</h1>

<table>
  <tr>
    <th>Tax type</th>
    <th>Description</th>
    <th>Percent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tax_masters.each do |tax_master| %>
  <tr>
    <td><%= tax_master.tax_type %></td>
    <td><%= tax_master.description %></td>
    <td><%= tax_master.percent %></td>
    <td><%= link_to 'Show', tax_master %></td>
    <td><%= link_to 'Edit', edit_tax_master_path(tax_master) %></td>
    <td><%= link_to 'Destroy', tax_master, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tax master', new_tax_master_path %>
