<p id="notice"><%= notice %></p>

<p>
  <b>Tax type:</b>
  <%= @tax_master.tax_type %>
</p>

<p>
  <b>Description:</b>
  <%= @tax_master.description %>
</p>

<p>
  <b>Percent:</b>
  <%= @tax_master.percent %>
</p>


<%= link_to 'Edit', edit_tax_master_path(@tax_master) %> |
<%= link_to 'Back', tax_masters_path %>
