
		
		<div id="zone-bar">
			<ul>
			<li><span>
					<%= link_to "Home",root_path %>
				</span>	
				</li>
				<li>
					<a href="#">
						Masters 
						<em class="opener-technology">							
							<%= image_tag "images/zonebar-downarrow.png" %>
						</em>
					</a>
					<ul class="technologysublist">				
					
						<li><%= link_to "Suppliers",suppliers_path %></li>
						<li><%= link_to "Categories",categories_path %></li>
						<li><%= link_to "Products",products_path %></li>
						<li><%= link_to "Tax Masters",tax_masters_path %></li>
						<li><%= link_to "Cost Of Products",product_costs_path %></li>
						<li><%= link_to "Packed Units",packed_units_path %></li>						
					</ul>
				</li>
				<li>
					<a href="#">
						Ledger Maintenance 
						<em class="opener-world">
							<%= image_tag "images/zonebar-downarrow.png" %>
						</em>
					</a>
					<ul class="worldsublist">
						<li><a href="#">Sales Ledger</a></li>
						<li><a href="#">Sales Ledger Updates</a></li>
						<li><a href="#">Purchase Ledger</a></li>
						<li><a href="#">Purchase Ledger Updates</a></li>
						
					</ul>
				</li>
				<li>
					<a href="#">
						Inventory Maintenance 
						<em class="opener-science">
							<%= image_tag "images/zonebar-downarrow.png" %>
						</em>
					</a>
					<ul class="sciencesublist">
						<li><a href="#">Category List</a></li>
						<li><a href="#">Product List</a></li>
						<li><a href="#">Product Create</a></li>
						<li><a href="#">Product Update</a></li>
						<li><a href="#">Inventory Report</a></li>
						
					</ul>
				</li>
				
				
				
			</ul>
		</div>
		
		</div>