<!DOCTYPE html>
<html>
<head>
  <title>Billing System</title>
  
 <%= stylesheet_link_tag "core" %>
  <%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>
   <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
      
   <%= javascript_include_tag "jquery-1.6.2.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js" %>
  <%= javascript_include_tag "jquery_ujs.js" %>
  
 
 
  
  <%= csrf_meta_tags %>
</head>
<body>
<div id="all">
		<div id="top-bar">
        <div id="header">
            <h1><span class="intro" style="font:Ariel;font-size:20px;">iRetail</span> 
			<span style="font:Ariel;font-size:15px;">an online service for Enterprise Resource Planing</span></h1>
			<div id="right-side">
			<%= image_tag "images/usericon.jpg" %>			
				
				<span id="user" style="font-weight:900;font-size:10px;"> Guest</span>
				<a id="login" href="#">Login</a> 
				<form id="main-search" action="#">
							<label for="search-field" id="search-field-label">Search</label>
							<input type="text" maxlength="255" id="search-field"/>
								
							<input type="image" alt="Search" value="Search" src="/assets/images/search.png" id="search-button"/>  
				</form>
			</div>
			
			
            
        </div>
		<%= render :partial => "layouts/header"  %>      
		</div>
		<div id = "main-content">

        <div id="content">
            <% if alerted = alert %>
                <p id="alert"><%= alerted %></p>
            <% end %>
			<br/>
            <%= yield %>
        </div>
		</div>
		<div id="dialog-form" title="Login">
	<p class="validateTips">All form fields are required.</p>

	<form>
	<fieldset>
		<br/>
		<label for="name">Name</label>
		
		<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
		<br/>
		<br/>
		<label for="password">Password</label> 
		
		<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
	<br/>
	<br/>
	</fieldset>
	</form>
</div>
		
		<div id="footer">
			
			  <p>
			  Copyright © Basaveshwara Marketing Inc. All rights reserved.
			</p>
			
		</div>
    </div>
<script type="text/javascript">
		$(document).ready(function(){
		   $("#zone-bar li em").click(function() {
		   		var hidden = $(this).parents("li").children("ul").is(":hidden");
		   		
				$("#zone-bar>ul>li>ul").hide()        
			   	$("#zone-bar>ul>li>a").removeClass();
			   		
			   	if (hidden) {
			   		$(this)
				   		.parents("li").children("ul").toggle()
				   		.parents("li").children("a").addClass("zoneCur");
				   	} 
			   });
			   
			   var name = $( "#name" ),
			
			password = $( "#password" ),
			allFields = $( [] ).add( name ).add( password ),
			tips = $( ".validateTips" );

		function updateTips( t ) {
			tips
				.text( t )
				.addClass( "ui-state-highlight" );
			setTimeout(function() {
				tips.removeClass( "ui-state-highlight", 1500 );
			}, 500 );
		}

		function checkLength( o, n, min, max ) {
			if ( o.val().length > max || o.val().length < min ) {
				o.addClass( "ui-state-error" );
				updateTips( "Length of " + n + " must be between " +
					min + " and " + max + "." );
				return false;
			} else {
				return true;
			}
		}

		function checkRegexp( o, regexp, n ) {
			if ( !( regexp.test( o.val() ) ) ) {
				o.addClass( "ui-state-error" );
				updateTips( n );
				return false;
			} else {
				return true;
			}
		}

			   
			   
			   $( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 300,
			width: 300,
			modal: true,
			buttons: {
				"Login": function() {
					var bValid = true;
					allFields.removeClass( "ui-state-error" );

					bValid = bValid && checkLength( name, "username", 3, 16 );
					bValid = bValid && checkLength( password, "password", 5, 16 );

					bValid = bValid && checkRegexp( name, /^[a-z]([0-9a-z_])+$/i, "Username may consist of a-z, 0-9, underscores, begin with a letter." );
					// From jquery.validate.js (by joern), contributed by Scott Gonzalez: http://projects.scottsplayground.com/email_address_validation/
					bValid = bValid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );

					if ( bValid ) {
					
						$('#user').text($('#name').val());
						
						$( this ).dialog( "close" );
					}
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				},
				"Create an Account": function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" ).removeClass( "ui-state-error" );
			}
		});

		$( "#login" )	
			.click(function() {
				$( "#dialog-form" ).dialog( "open" );
			});
			
			
			   
			   
		});
	</script>


</body>
</html>
