<!DOCTYPE html>
<html>
<head>
  <title>Billing System</title>
  
 <%= stylesheet_link_tag "core" %>
  <%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>
   <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
      
   <%= javascript_include_tag "jquery-1.6.2.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js" %>
  <%= javascript_include_tag "jquery_ujs.js" %>
  
 
 
  
  <%= csrf_meta_tags %>
</head>
<body>
<div id="all">
		<div id="top-bar">
        <div id="header">
            <h1><span class="intro" style="font:Ariel;font-size:20px;">iRetail</span> 
			<span style="font:Ariel;font-size:15px;">an online service for Enterprise Resource Planing</span></h1>
			<div id="right-side">
			<%= image_tag "images/usericon.jpg" %>			
				
				<span id="user" style="font-weight:900;font-size:10px;"> Guest</span>
				<a id="loginLnk" href="#">Login</a> 
				<form id="main-search" action="#">
							<label for="search-field" id="search-field-label">Search</label>
							<input type="text" maxlength="255" id="search-field"/>
								
							<input type="image" alt="Search" value="Search" src="/assets/images/search.png" id="search-button"/>  
				</form>
			</div>
			
			
            
        </div>
		<%= render :partial => "layouts/header"  %>      
		</div>
		<div id = "main-content">

        <div id="content">
            <% if alerted = alert %>
                <p id="alert"><%= alerted %></p>
            <% end %>
			<br/>
            <%= yield %>
        </div>
		</div>
		<div id="dialog-form" title="Login">
	<p class="validateTips">All form fields are required.</p>

	<form id="loginForm" action="/users/auth_login" method="post">
	<fieldset>
		<br/>
		<label for="login">Name</label>
		
		<input type="text" name="login" id="login" class="text ui-widget-content ui-corner-all" />
		<br/>
		<br/>
		<label for="password">Password</label> 		
		<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
	<br/>
	<br/>
	</fieldset>
	</form>
</div>
		
		<div id="footer">
			
			  <p>
			  Copyright © Basaveshwara Marketing Inc. All rights reserved.
			</p>
			
		</div>
    </div>
<script type="text/javascript">
		
	</script>


</body>
</html>
