<%= form_for(@product_cost) do |f| %>
  <% if @product_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_cost.errors.count, "error") %> prohibited this product_cost from being saved:</h2>

      <ul>
      <% @product_cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :product %><br />
	<% if @products.size!=0 %>
	<%= f.select ( :product_id, @products ) %>
	<% end %>
    <% if @products.empty? %>
	<em> No Products Listed </em>
	<% end %>
  </div>
  
   <div class="field">
    <%= f.label :tax_master %><br />
	<% if @tax_masters.size!=0 %>
	<%= f.select ( :tax_master_id, @tax_masters ) %>
	<% end %>
    <% if @tax_masters.empty? %>
	<em> No Taxs Listed </em>
	<% end %>
  </div>
  
 
  <div class="field">
    <%= f.label :cost_applicable %><br />
    <%= f.check_box :cost_applicable %>
  </div>
  <div class="field">
    <%= f.label :cost_eff_start_date %><br />
    <%= f.date_select :cost_eff_start_date %>
  </div>
  <div class="field">
    <%= f.label :cost_eff_end_date %><br />
    <%= f.date_select :cost_eff_end_date %>
  </div>
  <div class="field">
    <%= f.label :basic_purchase_cost %><br />
    <%= f.text_field :basic_purchase_cost %>
  </div>
  <div class="field">
    <%= f.label :purchase_cost_inc_vat %><br />
    <%= f.text_field :purchase_cost_inc_vat %>
  </div>
  <div class="field">
    <%= f.label :cost_to_retailer %><br />
    <%= f.text_field :cost_to_retailer %>
  </div>
  <div class="field">
    <%= f.label :cost_to_wholesaler %><br />
    <%= f.text_field :cost_to_wholesaler %>
  </div>
  <div class="field">
    <%= f.label :max_retail_price %><br />
    <%= f.text_field :max_retail_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
