<h1>Listing product_costs</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Tax </th>
    <th>Cost applicable</th>
    <th>Cost eff start date</th>
    <th>Cost eff end date</th>
    <th>Basic purchase cost</th>
    <th>Purchase cost inc vat</th>
    <th>Cost to retailer</th>
    <th>Cost to wholesaler</th>
    <th>Max retail price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_costs.each do |product_cost| %>
  <tr>
    <td><%= product_cost.product.product_code %></td>
    <td><%= product_cost.tax_master.tax_type %></td>
    <td><%= product_cost.cost_applicable %></td>
    <td><%= product_cost.cost_eff_start_date %></td>
    <td><%= product_cost.cost_eff_end_date %></td>
    <td><%= product_cost.basic_purchase_cost %></td>
    <td><%= product_cost.purchase_cost_inc_vat %></td>
    <td><%= product_cost.cost_to_retailer %></td>
    <td><%= product_cost.cost_to_wholesaler %></td>
    <td><%= product_cost.max_retail_price %></td>
    <td><%= link_to 'Show', product_cost %></td>
    <td><%= link_to 'Edit', edit_product_cost_path(product_cost) %></td>
    <td><%= link_to 'Destroy', product_cost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product cost', new_product_cost_path %>
