<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @product_cost.product.product_code %>
</p>

<p>
  <b>Tax master:</b>
  <%= @product_cost.tax_master.tax_type %>
</p>

<p>
  <b>Cost applicable:</b>
  <%= @product_cost.cost_applicable %>
</p>

<p>
  <b>Cost eff start date:</b>
  <%= @product_cost.cost_eff_start_date %>
</p>

<p>
  <b>Cost eff end date:</b>
  <%= @product_cost.cost_eff_end_date %>
</p>

<p>
  <b>Basic purchase cost:</b>
  <%= @product_cost.basic_purchase_cost %>
</p>

<p>
  <b>Purchase cost inc vat:</b>
  <%= @product_cost.purchase_cost_inc_vat %>
</p>

<p>
  <b>Cost to retailer:</b>
  <%= @product_cost.cost_to_retailer %>
</p>

<p>
  <b>Cost to wholesaler:</b>
  <%= @product_cost.cost_to_wholesaler %>
</p>

<p>
  <b>Max retail price:</b>
  <%= @product_cost.max_retail_price %>
</p>


<%= link_to 'Edit', edit_product_cost_path(@product_cost) %> |
<%= link_to 'Back', product_costs_path %>
