<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_code %><br />
    <%= f.text_field :product_code %>
  </div>
  <div class="field">
    <%= f.label :product_name %><br />
    <%= f.text_field :product_name %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
	<% if @category.size!=0 %>
	<%= f.select ( :category_id, @category ) %>
	<% end %>
    <% if @category.empty? %>
	<em> No Categories Listed </em>
	<% end %>
	
    
  </div>
  <div class="field">
    <%= f.label :packed_unit %><br />
	<% if @packed_unit.size!=0 %>
	<%= f.select ( :packed_unit_id, @packed_unit ) %>
	<% end %>
    <% if @packed_unit.empty? %>
	<em> No Packed Units Listed </em>
	<% end %>
	
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
