<p id="notice"><%= notice %></p>

<p>
  <b>Product code:</b>
  <%= @product.product_code %>
</p>

<p>
  <b>Product name:</b>
  <%= @product.product_name %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category.category_name %>
</p>
<p>
  <b>Packed Unit:</b>
  <%= @packed_unit.unit_code %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
